.git
__pycache__
*.pyc
*.pyo
.pytest_cache
.vscode
.idea
.kilo
node_modules
npm-debug.log
Dockerfile
docker-compose.yml
.dockerignore
*.md
LICENSE
*.png
*.jpg
*.jpeg
*.gif
*.zip
*.tar.gz
*.rar
*.7z
*.iso
*.img
